* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Georgia;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
} 